button {
	outline: 0;
	cursor: pointer;
}
body {
	min-width: 1024px;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	font-family: "Microsoft Yahei",微软雅黑;
}
.header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 60px;
	background-color: rgba(22,137,204,1);
	color: #fff;
	z-index: 10;
}
.header__logo {
	float: left;
	height: 60px;
	margin: 0px 0px 0px 30px;
	padding: 0px 0px 0px 60px;
	display: block;
	font-size: 18px;
	line-height: 60px;
	color: white;
	text-decoration: none;
	background: url("./../img/zjws.png") left no-repeat;
	background-size: 50px 50px;
	letter-spacing: 2px;
}
.header__nav {
	float: right;
	margin: 0px 20px 0px 0px;
	position: relative;
	height: 60px;
}
.header__nav-item:hover {
	color: rgba(255,255,255,0.7);
}
.header__nav-item {
	float: left;
	padding: 0px 20px;
	display: inline-block;
	width: 60px;
	line-height: 60px;
	color: white;
	text-align: center;
	text-decoration: none;
}
.header__nav-item-active {
	width: 60px;
	height: 2px;
	background: white;
	position: absolute;
	left: 20px;
	bottom: 2px;
}
.body__screen-all {
	top: 60px;
	position: relative;
	left: 200px;
	right: 0px;
	padding: 15px 215px 15px 15px;
	width: auto;
	height: auto;
	/*overflow: hidden;*/
	overflow-y: auto;
	box-sizing: border-box;
}
.screen-1-field {
	border-width: 1px;
	border-style: solid;
	border-color: #999;
}
.screen-1-findbox {
	margin: 15px 0px;
}
.screen-1-findbox input{
	margin-left: 50px;
	text-indent: 7px;
	box-sizing: border-box;
	border: 1px solid #999;
	margin-top: 4px;
}
.screen-1-findbox select {
	color: #757575;
	border: 1px solid #999;
	height: 28px;
	font-size: 16px;
	line-height: 28px;
	box-sizing: border-box;
	margin-top: 3px;
	border-radius: 3px;
}
.screen-1-findbox-input {
	height: 28px;
	width: 300px;
	font-size: 16px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}
.screen-1-findbox-button {
	height: 34px;
	width: 70px;
	font-size: 16px;
	color: white;
	background-color: #1689cc;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
}
.screen-1-findresult , .screen-1-list {
	margin:0 auto;
	overflow: hidden;
    background-color: #fff;
    padding: 0;
    white-space:nowrap;
}
.screen-1-list a{
	margin-left: 5%;
}
.screen-1-list div{
	margin-top: 20px;
}
.screen-1-findresult-list , .screen-1-ul{
	border-color: black;
	height: 36px;
	line-height: 36px;
	padding:0;
	margin: 0;
	border: 1px solid black;  
	list-style: none;
	/*border-bottom: 1px solid black;*/
}
.screen-1-li{
	text-align: center;
	overflow: hidden;
	float: left;
}
.right-border{
	border-right: 1px solid black;	
}
.screen-1-ul{
	border-top: hidden;
}
.screen-1-revise{
	height: 25px;
	width: 50px;
	font-size: 16px;
	color: white;
	background-color: #1689cc;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	margin: 0 auto;
	display: inline-block;
	line-height: 23px;
    padding: 0px;
}
.screen-1-delete{
	height: 25px;
	width: 50px;
	font-size: 16px;
	color: white;
	background-color: #1689cc;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	margin: 0 auto;
	display: inline-block;
	line-height: 23px;
    padding: 0px;
}
hr {
	height: 1px;
    margin: 10px 0;
    border: 0;
    clear: both;
    background-color: #999;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
/* 以上实际使用若已初始化可删除 */
/* nav */
.nav {
	position: fixed;
	top: 60px;
	width: 200px;
	height: 100%;
	background: #263238;
	transition: all .3s;
	z-index: 10;
}
.nav a {
	display: block;
	overflow: hidden;
	padding-left: 20px;
	line-height: 46px;
	max-height: 46px;
	color: #ABB1B7;
	transition: all .3s;
}
.nav a span {
	margin-left: 30px;
}
/*#lefter{
	margin-left: -15px;
}*/
.nav-item {
	position: relative;
	
}
.nav-item.nav-show {
	border-bottom: none;
}
.nav-item ul {
	display: none;
	background: rgba(0, 0, 0, .1);
}
.nav-item.nav-show ul {
	display: block;
}
.nav-item>a:before {
	content: "";
	position: absolute;
	left: 0px;
	width: 2px;
	height: 46px;
	background: #34A0CE;
	opacity: 0;
	transition: all .3s;
}
.nav .nav-icon {
	font-size: 20px;
	position: absolute;
	margin-left: -1px;
}
/* 此处修改导航图标 可自定义iconfont 替换*/
.icon_1::after {
	content: "\e62b";
}
.icon_2::after {
	content: "\e669";
}
.icon_3::after {
	content: "\e61d";
}
.nav-more {
	float: right;
	margin-right: 20px;
	font-size: 12px;
	transition: transform .3s;
}
/* 此处为导航右侧箭头 如果自定义iconfont 也需要替换*/
.nav-more::after {
	content: "\e621";
}
.nav-show .nav-more {
	transform: rotate(90deg);
}
.nav-show,
.nav-item>a:hover {
	color: #FFF;
	background: rgba(0, 0, 0, .1);
}
.nav-show>a:before,
.nav-item>a:hover:before {
	opacity: 1;
}
.nav-item li:hover a {
	color: #FFF;
	background: rgba(0, 0, 0, .1);
}
/* nav-mini */
.nav-mini.nav {
	width: 60px;
}
.nav-mini.nav .nav-icon {
	/* margin-left:-2px; */
}
.nav-mini.nav .nav-item>a span {
	display: none;
}
.nav-mini.nav .nav-more {
	margin-right: -20px;
}
.nav-mini.nav .nav-item ul {
	position: absolute;
	top: 0px;
	left: 60px;
	width: 180px;
	z-index: 99;
	background: #3C474C;
	overflow: hidden;
}
.nav-mini.nav .nav-item:hover {
	background: rgba(255, 255, 255, .1);
}
.nav-mini.nav .nav-item:hover .nav-item a {
	color: #FFF;
}
.nav-mini.nav .nav-item:hover a:before {
	opacity: 1;
}
.nav-mini.nav .nav-item:hover ul {
	display: block;
}
#content1-2,#content1-3,#content2-1,#content2-2,#content3-1,#content3-2{
	display: none;
}
.permissionbox{
	vertical-align: middle;
	height: 16px;
	width: 16px;
}
#ytitle{
	line-height: 2.5;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-left: 60px;
	margin-top: 30px;
}
#yinput{
	margin-left: 10px;
	line-height: 2.5;
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
}
#yinput input[type=text]{
	height: 25px;
	text-indent: 7px;
    border: 1px solid #999;
	border-radius: 2px;
}
#yinput1{
	width: 200px;
}
#yinput2{
	width: 400px;
}
#yinput3{
	width: 40px;
	text-indent: 7px;
	height: 23px;
	border-radius: 2px;
    border: 1px solid #999;
}
/*.screen-1-field{
	height: 400px;
}*/
#yadd{
	height: 31px;
	margin-top: 20px;
	width: 100px;
	border: 0;
	border-radius: 5px;
	background: rgb(22,137,204);
	color: white;
}
input[type=checkbox]{
	cursor: pointer;
}
#screen-userability{
	width: 700px;
}
.screen-add-list{
	margin-top: 30px;
	margin-left: 60px;
}
.screen-add-ul{
	height: 36px;
	line-height: 36px;
	padding:0;
	margin-top: 15px;
	border: none;  
	list-style: none;
	/*border-bottom: 1px solid black;*/
}
.screen-add-input{
	margin-left: 20px;
	width: 200px;
	float: left;
}
.screen-add-tip{
	width: 100px;
	text-align: right;
	float: left;
}
.checkbox-quanxian{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin: 0 5px 4px 0px;
}
.screen-add-input input{
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 200px;
    border: 1px solid #999;
    border-radius: 2px;
    text-indent: 4px;
}
.screen-add-userdept{
	height: 27px;
	width: 200px;
	line-height: 27px;
    border: 1px solid #999;
    color: #757575;
    border-radius: 2px;
}
.screen-add-input input[type=checkbox]{
	margin: 0px 0px 3px 0px;
	height: 16px;
	width: 16px;
    border: none;
}
.screen-1-addbutton{
	height: 30px;
	width: 90px;
	font-size: 16px;
	color: white;
	background-color: #1689cc;
	border: none;
	border-radius: 4px;
	margin: 16px 100px;
	display: inline-block;
	line-height: 23px;
    padding: 0px;
}
.allchoice{
	cursor: pointer;
	color: #1689cc;
}
.allchoice:hover{
	text-decoration: underline;
}
#screen-userability label{
	margin-right: 5px;
}
.screen-1-saveall {
	height: 34px;
	width: 100px;
	font-size: 16px;
	color: white;
	background-color: #1689cc;
	border: 1px solid;
	border-radius: 4px;
	position: relative;
	float: right;
	margin:10px 0px 10px 10px;
}
.screen-1-clearall{
	height: 32px;
	width: 100px;
	font-size: 16px;
	color: white;
	background-color: #1689cc;
	border: 1px solid;
	border-radius: 4px;
	position: relative;
	float: right;
	margin:10px 10px 10px 0px;
}
.screen-1-clearall label{
	vertical-align: middle;
	display: block;
	margin: 0 auto;
    width: 32px;
    line-height: 32px;
}
.yr_input {
	display: inline-block;
	height: 36px;
	text-indent: 10px;
	width: 20%;
	padding: 0;
	float: left;
	border-left: none;
	border-top: none;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 16px;
}
.yr_input_2_2 {
	display: inline-block;
	height: 36px;
	text-indent: 10px;
	padding: 0;
	float: left;
	border-left: none;
	border-top: none;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 16px;
}
#myselect1{
	margin-left: 33px;
	margin-right: 12px;
}
#myselect2-1{
	margin-left: 33px;
}
#myselect2-2{
	margin-left: 10px;
	margin-right: 12px;
}