.vjs-error .vjs-error-display .vjs-modal-dialog-content {
	font-size: 2em;
	padding-top: 50px;
}
.vjs-mycss .vjs-control-bar {
	background-color: #444c;
}
.vjs-mycss .vjs-control-bar .vjs-volume-menu-button .vjs-menu,
.vjs-mycss .vjs-progress-control {
	margin-top: -1px;
}
/*.vjs-mycss .vjs-live-control {
	display: inline-block !important;
	text-align: left;
}
.vjs-mycss .vjs-progress-control {
	display: none;
}*/